<h3>Enter a Url</h3>
<form action='/urls/parse_url' method="post">
	<input name="url" />
	<button>submit</button>

</form>

<ul>
	<% @urls.each do |url| %> 
	<li><%= url.url %></li>
	<% end %>
</ul>

<div class="resultbody">
	<% @search_results.each do |search_result| %> 
	<div class="singleresult">
		<a href="<%= search_result.url%>"><%= search_result.name %></a>
		<p><%= search_result.rating %></p>
		<img src="<%= search_result.rating_img_url %>" />
		<p><%= search_result.display_phone %></p>
		<p><%= search_result.term %></p>
		<p><%= search_result.location %></p>
	</div>
	<% end %>
</div>
